<html>

<head>
    <style>
        body {
            font-family: monospace;
            font-size: 16;
            font-weight: 700;
            text-transform: lowercase;
        }
    </style>
</head>

<body>
    <div style="text-align: center;">
        <div style="width: 500; height: 500; padding: 2%; margin: auto;">
        </div>
        <div style="width: 500; text-align:left; margin: auto; background-color: gray;">
            {{.WString}}
        </div>
    </div>
</body>

</html>