<html>

<head>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <style>
        body {
            font-family: monospace;
            font-size: 16;
            font-weight: 700;
        }

        #outer {
            text-align: center;
            display: flex;
            flex-direction: column;
        }

        #inputblock {
            width: 90%;
            padding: 2%;
            margin: auto;
            margin-top: 2%;
        }

        #inputblock textarea {
            display: block;
            border: solid;
            width: 100%;
            margin: auto;
        }

        #outputblock {
            display: block;
        }

        #outputbody {
            width: 500;
            text-align: left;
            margin: auto;
            background-color: gray;
        }
    </style>
</head>

<body>
    <!-- flexbox to contain both input and output elements. -->
    <div id="outer">
        <div id="inputblock">
            <div id="inputs">
                <label for="in">argument to function call (Parse)</label>
                <textarea hx-post="/input" hx-trigger="keyup delay:500ms changed" type="text" id="in" name="input"
                    hx-target="#outputblock"></textarea>
            </div>
            <div>
                <label for="addbutton">Add another input</label><br>
                <button id="addbutton" hx-get="/uiupdate" hx-swap="beforeend" hx-target="#inputs">Add</button>
            </div>
        </div>
        <div id="outputblock" hx-trigger="load" hx-get="/output" hx-swap="outerHTML">
        </div>
    </div>
</body>

</html>