<html>

<head>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <style>
        body {
            font-family: monospace;
            font-size: 16;
            font-weight: 700;
        }

        #outer {
            text-align: center;
            display: flex;
            flex-direction: column;
        }

        #inputblock {
            width: 90%;
            height: 200;
            padding: 2%;
            margin: auto;
            margin-top: 2%;
        }

        #inputblock textarea {
            display: block;
            border: solid;
            width: 100%;
            height: 100%;
            margin: auto;
        }

        #outputbody {
            width: 500;
            text-align: left;
            margin: auto;
            background-color: gray;
        }
    </style>
</head>

<body>
    <!-- flexbox to contain both input and output elements. -->
    <div id="outer">
        <div id="inputblock">
            <label for="in">argument to function call (Parse)</label>
            <textarea hx-post="/input" hx-trigger="keyup delay:500ms changed" type="text" id="in" name="input"
                hx-target="body"></textarea>
        </div>
        <div id="outputblock">
            <p>Web Object State</p>
            <div id="outputbody">
                {{.Webstring}}
            </div>
        </div>
    </div>
</body>

</html>