<label for="{{.Id}}">argument to function call (Parse)</label>
<textarea hx-post="/input" hx-trigger="keyup delay:500ms changed" type="text" id="{{.Id}}" name="input"
    hx-target="#outputblock"></textarea>