<!-- tree of nodes -->
<html>
<style>
    :root {
        color-scheme: dark;
    }

    body {
        font-family: menlo;
    }
</style>

<head>

</head>

<body>
    <!-- arrow -->
    <div>%v</div>
</body>

</html>